@model System.Collections.Generic.IEnumerable<V._3._0.Models.MedicalInfo>
<head>
    <title>MEDICAL HISTORY</title>
    <link rel="stylesheet" href="~/css/Patients/MedicalInfo/med.css" />
</head>
<body>
    <h1> MEDICAL FILES AND HISTORY</h1>
    <a asp-controller="Modules" asp-action="PatientMed"><button id="Submit-Button">Upload</button></a>
    <div id="collect">
        @foreach (var File in Model)
        {
            <form asp-action="OnDeleteMedfile" asp-controller="Modules" method="post">
            <input name="patid" value="@File.PatientsId" type="hidden">
            <button name="medid" type="submit" value="@File.MedId"
            class="button-opt">
            <img src="~/css/Patients/remove.png" alt="Delete">
            </button>
            </form>
            <img class="Image" src="@Url.Action("RetrieveImage", "Modules", new { id = File.PatientsId })">
        }
    </div>
</body>


