@model V._3._0.Models.Patients
@using V._3._0.Models;
@{
}
<head>
    <link rel="stylesheet" href="~/css/Patients/NewPatient.css" />
</head>
<body>
    <h1> Edit Patient</h1>
    <form asp-controller="Modules" asp-action="OnUpdated" method="post">
        <div class="input">
            <input asp-for="Id" type="hidden" />
            <label asp-for="Name">Patient Name:</label>
            <input asp-for="Name" type="text" >
        </div>
        <div class="input">
            <label asp-for="Status">Status</label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<PatientStatus>()" id="package-select">
                <option value="">Select</option>
            </select>
        </div>
        <div class="input">
            <label asp-for="Roomno">Room no:</label>
            <input asp-for="Roomno" value="@Model.Roomno" type="number" placeholder="Room No">
        </div>
        <div class="input">
            <label asp-for="DateOfAdm">Date Of Adm</label>
            <input asp-for="DateOfAdm" value="@Model.DateOfAdm.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" placeholder="Date of Admission">
        </div>
        <div class="input">
            <label asp-for="DateOfDis">Date Of Dis</label>
            <input asp-for="DateOfDis" value="@Model.DateOfDis.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" placeholder="Date of Dischage">
        </div>
        <div id="info">
            <button type="submit" id="Submit-Button">
                SUBMIT
            </button>
    </form>
</body>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}