@model V._3._0.Models.MedicalInfo
<!DOCTYPE html>
<html>
<head>
    <title>Medical Info Info</title>
    <link rel="stylesheet" href="~/css/Patients/MedicalInfo/med.css" />
</head>
<body>
    <h1> PATIENT MEDICAL INFORMATION</h1>
    <h2>PATIENTS NAME</h2>
    <div id="collect">
    </div>
    <form enctype="multipart/form-data" method="post">
        <input asp-for="@Model.PatientsId" type="hidden" />
        <input asp-for="@Model.ImageFile" class="in" type="file" name="ImageFile" accept="image/jpeg" />
        <button type="submit" value="Upload" id="Submit-Button">Upload</button>
    </form>
</body>
