 @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

@model V._3._0.Models.PersonalInfo;
<head>
    <title>PERSONAL INFORMATION</title>
    <link rel="stylesheet" href="~/css/Patients/PersonalInfo/PersonalInfo.css" />
</head>
<body>
    <h1> PATIENT PERSONAL INFORMATION</h1>
    <h2>@Model.Name</h2>
    <form method="post" asp-controller="Modules" asp-action="PersonalInfo">
        <div>
            <input asp-for="PatId" type="hidden"/>
            <input asp-for="Name" type="hidden">
            
            <div class="input">
                <label asp-for="FatherName">Father Name:</label>
                <input asp-for="FatherName" type="text" placeholder="Father Name">
            </div>
            <div class="input" class="input">
                <label asp-for="Gender">Gender</label>
                <select asp-for="Gender" name="Gender" id="Gender-select">
                    <option value="">Select</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Other</option>
                </select>
            </div>
            <div class="input">
                <label asp-for="Age">Age:</label>
                <input asp-for="Age"type="number" placeholder="Age">
            </div>
            <div class="input">
                <label asp-for="Address">Address</label>
                <input asp-for="Address" type="text" placeholder="Address of patient">
            </div>
            <div class="input">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" placeholder="E-mail">
            </div>
            <div class="input">
                <label asp-for="Contact">Contact:</label>
                <input asp-for="Contact" type="tel" placeholder="021-23899901">
            </div>
            <button type="submit" id="Submit-Button">
                SUBMIT
            </button>
        </div>
    </form>
</body>