#Header {
    text-align: center;
    background-image: linear-gradient(63.1deg, rgba(162, 162, 185, 0.767) 16.4%, rgba(55, 65, 92, 0.644) 64.5%);
    width: 35%;
    padding: 4px;
    border-radius: 10cm;
    position: relative;
    left: 31.5%;
    box-shadow: 6px 5px 9px #393b47;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 3px 5px#b1a4a45b;
    border: 3.5px;
    border-color: #545a7c67;
    border-style: solid;
}
.Info-Section {
    height: 350px;
    width: 30%;
    background-color: rgba(24, 21, 31, 0.11);
    position: relative;
    padding: 30px;
    transform: translate(-50%, -50%);
    margin-top: 20%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.01);
    box-shadow: 6px 5px 9px #484950;
}
.info-container {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 10px;
    align-items: center;
    padding: 5px;
    margin-left: 10%;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Info-data {
    margin: 0;
    

}
.button-container {
    display: flex;
    justify-content: center;
    gap: 1in; /* Adjust the gap as needed */
    margin-top: 2%;
}

.custom-button {
    cursor: pointer;
    height: 50px;
    transition-property: box-shadow, background-image;
    transition: 0.5s;
    color: #070303;
    font-weight: bold;
    width: 175%;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 3px #524a4a;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(63.1deg, rgba(157, 157, 175, 0.938) 16.4%, rgba(80, 90, 121, 0.87) 64.5%);
}

    .custom-button:hover {
        box-shadow: 5px 5px 5px #443e3e;
        background-image: linear-gradient(63.1deg, rgb(147, 167, 167) 16.4%, rgba(55, 63, 87, 0.897) 64.5%);
        color: #ffffff;
    }
