@page "{HosId:int?}"
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model V._3._0.Models.SignUp
<body>
    @Model.HospitalName 
    <div>
        Hello!
    </div>
        <p> @TempData["Message"] </p>
</body>